#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	width: 100%;
	td {
		border-radius: 1px solid #ddd;
		padding: 12px;
	}
	th {
		border: 1px solid #ddd;
		padding: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color:  #FF5F6D;
    
		color: white;
	}
	tr {
		&:nth-child(even) {
			background-color: #f2f2f2;
		}
		&:hover {
			background-color: #ddd;
		}
	}
}
