.numberSpinnerBox {
    height: 55px;
    display: inline-block;
    position: relative;
    span {
        background: white;
        color: #333436;
        font-weight: 600;
        padding: 15px 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        vertical-align: middle;
        height: 48px;
        border: 1px solid #FFC371;
        border-right: none;
    }
    .btn_wrapper {
        width: 40px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        border: 1px solid #FFC371;
        border-left: none;
        button {
            width: 100%;
            height: 50%;
            background: none;
            border: none;
            background: #FF5F6D;  /* fallback for old browsers */
            outline: 0;
            cursor: pointer;
            &:first-child {
                background: -webkit-linear-gradient(to bottom, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to bottom, #FFC371, #FF5F6D);
                border-bottom: 1px solid #f4f5f8;
            }
            &:last-child {
                background: -webkit-linear-gradient(to top, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to top, #FFC371, #FF5F6D);
            }
            img {
                width: 50%;
            }
        }
    }
}